@import "../index.css";

.product-img{
    width: 22rem;
    height: 30rem;

}
.card-details{
    text-align: left;
    padding: 0;
    padding-left: 1rem;
    justify-content: space-between;
}

.img-container{
    height: auto;
    width: 46rem;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
}

.product-info{
    gap: 1rem;
    padding: 2rem;
}